FMP_API_KEY=""
BINANCE_API_KEY=""
GNEWS_TOKEN=""
FINNHUB_TOKEN=""

MONGO_HOST = ""
MONGO_PORT = ""
MONGO_USER = ""
MONGO_PASSWORD = ""
MONGO_DB = ""

REDIS_HOST = ""
REDIS_USERNAME = ""
REDIS_PASSWORD = ""
REDIS_PORT = ""
REDIS_DB=""

DISCORD_WEBHOOK_URL= ""