fastapi>=0.95.2
httpx>=0.24.1
pymongo>=4.3.3
python-dotenv>=0.21.1
uvicorn[standard]>=0.22.0
anyio>=3.7.0
aioredis>=2.0.0
configparser>=5.3.0
contractions>=0.1.73
fastapi-cache2>=0.2.1
fastapi-health>=0.4.0
matplotlib>=3.5.1
openpyxl>=3.1.1
pandas>=1.5.3
pandas-ta>=0.3.14b
prometheus-fastapi-instrumentator>=5.9.1
redis>=4.5.1
tweepy>=4.12.1
vaderSentiment>=3.3.2
motor
python-binance
rich